.git
.gitignore
.gitattributes

.idea
.vscode
*.iml

gateway/target
user/target
business/target
scheduler/target
common/target

logs

**/application-dev.yml
**/application-dev_base.yml

frontend/node_modules
frontend-admin/node_modules
frontend/.vite
frontend-admin/.vite
frontend/dist
frontend-admin/dist

**/.env.local
**/.env.prod

docker-compose.yml
docker-volumes

.DS_Store
